.header {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  .mainContainer{
    background-color: #212121;
    height: 1550px;
  }
  .headerContainer{
    z-index: 1;
    margin: 0%;
    padding: 0%;
    
    position: relative;
  }
  .header-picture {
    position: absolute;
    down: 0%;
    width: auto;
    height: 1000px;
    width: auto;

  }
  .headerContainer >div{
    position: absolute;
    down: 0%;
    right: 0%;
  }
  
  .headerContainer>div > h1{
    font-family: 'Aquire';
    font-size: 100px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    

  }
  .headerContainer>div > p{
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.223);
    padding: 5px;
    width: 70%;
    border-radius: 5px;
    font-size: 25px;
    color: #fff;

    margin-left: auto;
    margin-right: auto;

  }


  
  .ItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: fle;
    align-items: center;
    width: 240px;
    height: 420px;
    margin: 5px;
    background-color: #212121;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ItemContainer:hover {
    margin: 0;
    width: 250px;
    height: 430px;
    background-color: #3f3f3f;
}

.LaptopImage {
    width: 90%;
    max-width: 90%;
    height: 300px;
    max-height:45%;
    border-radius: 3px;
    background-color: #fff;
}

.LaptopTitle {
    font-family: 'Aquire';
    color: #fff;
    text-decoration: none;
    font-size: 120%;
}

.laptopLink {
    color: #fff;
    text-decoration: none;


}
.LaptopTable{
    min-width: 90%;
    width: 90%;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: FormaDJRMicro,-apple-system,BlinkMacSystemFont,sans-serif;
}
.LaptopTable >tbody {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:5px;
}
.LaptopTable >tbody > tr{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.LaptopTable >tbody > tr >th{
    font-size: 80%;
    margin-right: 5px;
}
.LaptopTable >tbody > tr >td{
    font-size: 70%;
}
.LaptopTableDevelopersTd{
    max-width: 70%;
    width: 70%;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:5px;

}
.LaptopTableDevelopersTd >p {
    background-color: #fff;
    border-radius: 3px;
    padding: 3px;
    color: #212121;
    margin: 0%;

}
.contactContainer{
  padding-top: 1000px;;
}
.contactContainer>p{
  font-family: 'Aquire';
  color: #fff;
  text-align: center;
  font-size: 25px;
}
.contactContainer > form{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  background-color: #fff;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  
  border-radius: 3px;
  width: 500px;
}
.contactContainer > form> label{
  
  font-family: 'Aquire';
  color: black;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 5px;
}
.contactContainer > form> input{
  background-color: #212121;
  color: #fff;
  width: 350px;
  border-radius: 3px;
}
.contactContainer > form> textarea{
  background-color: #212121;
  color: #fff;
  width: 350px;
  height: 200px;
  resize: none;
  border-radius: 3px;
}
.contactContainer > form> button{
  background-color: #212121;
  color: #fff;
  width: 350px;
  resize: none;
  margin: 10px;
  border-radius: 3px;
}
.contactContainer > form> button:hover{
  background-color: #fff;
  color: #212121;
}